@import "bootstrap-overrides";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.dropdown-item:hover {
	background-color: #3e3e3e;
}

.navBtns {
	background-color: $dark;
}

body {
	font-family: "Circular";
}
#playbarMobile {
	position: fixed;
	bottom: 80px;
	z-index: 1;
}

@media screen and (max-width: 320px) {
	#playbarMobile {
		position: fixed;
		bottom: 105px;
		z-index: 1;
	}
}

#sticky {
	position: -webkit-sticky;
	position: fixed;
	bottom: 0;
	z-index: 1;
}

.spotify-logo-text {
	width: 150px;
	height: auto;
}

@media screen and (max-width: 1220px) {
	.spotify-logo-text {
		width: 100px;
		height: auto;
	}
}

#navDivider {
	width: 95%;
}

#sidebarMobile {
	width: 100%;
	display: flex;
	justify-content: space-around;

	p {
		font-size: 0.8rem;
	}
}

.songCover {
	img {
		width: max-content;
		height: auto;
	}
}

.mainBox {
	margin-inline: 0;
}

#friendsProfile {
	line-height: 0.1rem;

	#friendsPicture {
		width: 15%;
		height: 15%;
	}
}

// ARTIST
#mainContent {
	position: relative;
	background: #282828;
	background: -moz-linear-gradient(top, #282828 0%, #282828 0%, #070707 100%);
	background: -webkit-linear-gradient(top, #282828 0%, #282828 0%, #070707 100%);
	background: linear-gradient(to bottom, #282828 0%, #282828 0%, #070707 100%);
}
#artistMainContent {
	position: absolute;
	top: 0;
	padding-inline: 0;
}

#artistThumbnail {
	background-image: url(https://www.romatoday.it/~media/horizontal-hi/51536659594995/concerto-maneskin-9-luglio-2.jpg);
	background-size: cover;
	height: 40vh;
}

#friendsActivity {
	height: 100vh;
	background-color: $dark;
}

@media screen and (max-width: 991px) {
	#artistPlaybar {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		background: #282828;
		background: -moz-linear-gradient(top, #282828 0%, #282828 0%, #070707 100%);
		background: -webkit-linear-gradient(top, #282828 0%, #282828 0%, #070707 100%);
		background: linear-gradient(to bottom, #282828 0%, #282828 0%, #070707 100%);
	}
	#artistOverview {
		padding: 1rem;
		background: #282828;
		background: -moz-linear-gradient(top, #282828 0%, #282828 0%, #070707 100%);
		background: -webkit-linear-gradient(top, #282828 0%, #282828 0%, #070707 100%);
		background: linear-gradient(to bottom, #282828 0%, #282828 0%, #070707 100%);
		.row {
			display: flex;
			flex-direction: row;
		}
	}
}
#listener {
	padding: 1rem;
	background: #282828;
	background: -moz-linear-gradient(top, #282828 0%, #282828 0%, #070707 100%);
	background: -webkit-linear-gradient(top, #282828 0%, #282828 0%, #070707 100%);
	background: linear-gradient(to bottom, #282828 0%, #282828 0%, #070707 100%);
}
@media screen and (max-width: 991px) {
}
