@import 'bootstrap-overrides';

@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css');

.dropdown-item:hover {
	background-color: #3e3e3e;
}

.navBtns {
	background-color: $dark;
}

body {
	font-family: 'Circular';
}
#playbarMobile {
	position: fixed;
	bottom: 80px;
	z-index: 1;
}
@media screen and (max-width: 320px) {
	#playbarMobile {
		position: fixed;
		bottom: 105px;
		z-index: 1;
	}
}
#sticky {
	position: -webkit-sticky;
	position: fixed;
	bottom: 0;
	z-index: 1;
}

.spotify-logo-text {
	width: 150px;
	height: auto;
}

#navDivider {
	width: 95%;
}

#sidebarMobile {
	width: 100%;
	display: flex;
	justify-content: space-around;

	p {
		font-size: 0.8rem;
	}
}

.songCover {
	img {
		width: max-content;
		height: auto;
	}
}

.playbarMobile {
	z-index: 1;
}

main {
	margin-inline: 15%;
}

.mainBox {
	width: 100%;
	margin: 0;
}

#friendsProfile {
	line-height: 0.1rem;

	#friendsPicture {
		width: 15%;
		height: 15%;
	}
}
